<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <title>ekart's pri.ltd.</title>
  </head>
  <body>
        {% include 'layout/css.html' %}
        {% include 'layout/js.html' %}
        {% include 'layout/header.html' %}
        {% include 'layout/menu.html' %}
        {% block main %}
        {% endblock %}
        {% include 'layout/footer.html' %}
</body>
</html>